@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
}

.container {
  width: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-border-bottom {
  border-bottom: 1px solid #dedede;
}

.top-nav {
  width: 1140px;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding: 0;
  align-items: center;
  display: flex;
  list-style: none;
}

.top-nav li {
  margin-right: 24px;
}

.top-nav li:first-child {
  margin-right: 37px;
}

.top-nav li:last-child {
  margin-right: 0px;
}

.main-nav {
  font-weight: 500;
  font-size: 16px;
}

.main-nav-list {
  padding: 0;
  width: 1140px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #424242;
}

.banner {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-logo {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.banner h1 {
  font-weight: 600;
  font-size: 52px;
  margin-top: 0;
  color: #212121;
}

.banner-btn {
  display: flex;
  justify-content: space-between;
  width: 437px;
}

.banner a {
  font-weight: 600;
  font-size: 16px;
}

.banner-btn-credit {
  color: white;
  background-color: #3a95ff;
  border-radius: 3px;
  padding: 17px 26px;
}

.btn-info {
  border: 1px solid #3a95ff;
  border-radius: 3px;
  padding: 17px 51px;
}

.underline {
  text-decoration: underline;
}

.blue-color {
  color: #3a95ff;
}

.best-offers {
  width: 1140px;
  height: 1010px;
}
.best-offers h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin: 70px 0px 25px 0px;
}

.best-offers p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 70px;
}

.offers {
  display: flex;
  width: 1140px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer {
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 62px;
  width: 555px;
  height: 300px;
  background: #eff2f5;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
}

.txt {
  margin: 34px 0 0 34px;
}

.txt h3 {
  font-weight: 600;
  font-size: 26px;
  color: #212121;
}

.txt p {
  font-weight: 400;
  font-size: 18px;
  color: #424242;
}

.grey-background {
  background: #eff2f5;
}

.card-without-interest {
  height: 775px;
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-60days {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 500px;

  background: #e0e5ea;
  box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25),
    5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: flex-start;
  padding-left: 99px;
}

.heading {
  display: flex;
}
.heading h2 {
  font-weight: 600;
  font-size: 38px;
  color: #212121;
  margin-right: 50px;
}

.info {
  display: flex;
  width: 540px;
  justify-content: space-between;
}

.info h3 {
  width: 157px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: #212121;
  border-bottom: 1px solid #3a95ff;
  padding-bottom: 14px;
  margin-bottom: 6px;
  margin-top: 12px;
}

.info p {
  width: 157px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.btns {
  width: 440px;
  display: flex;
  justify-content: space-between;
}

.issue-card {
  color: white;
  background-color: #3a95ff;
  border-radius: 3px;
  padding: 17px 29px;
}

.cards-block {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}

.card {
  position: relative;
  font-weight: 600;
  font-size: 26px;
  width: 360px;
  height: 235px;

  background: #f7f7f7;
  box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25),
    5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-bottom: #3a95ff solid 5px;
}

.card h3 {
  margin: 34px;
}

.card img {
  position: absolute;
  right: 34px;
  bottom: 34px;
}

.get-card {
  width: 1140px;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-card h2 {
  margin: 70px 0;
  width: 1140px;
  font-weight: 600;
  font-size: 40px;
  color: #000000;
}

.algorithm {
  width: 872px;
  display: flex;
  justify-content: space-between;
}

.algorithm-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.algorithm-item p {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #212121;
}

footer {
  width: 1140px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer h4 {
  font-weight: 600;
  font-size: 14px;
  color: #424242;
}

footer p {
  font-weight: 400;
  font-size: 14px;
  color: #424242;
  margin-top: 22px;
}